<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" [routerLink]="['']">T2ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="btn-group my-2 my-lg-0">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user_name}}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" [routerLink]="['users/edit/'+user_id]"><i class="icon_info fas fa-edit"></i> Thông tin</a>
        <a (click)="logout()" class="dropdown-item" href="#"><i class="icon_info fas fa-sign-out-alt"></i> Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>
