<nav class="row" id="nav_admin">
  <a id="title" [routerLink]="['/admin']">SHOP ADMIN</a>
  <div id="profile_admin" class="mr-3 mt-1 mb-1">
    <button (click)="open_drop_info()" type="button" class="btn btn-secondary dropdown-toggle">
      Admin{{user_name}}
      <div class="dropdown_info" *ngIf="show_dropdown" style="z-index:1;">
        <a [routerLink]="['users/edit/'+user_id]"><i class="icon_info fas fa-edit"></i>Thông tin</a>
        <a (click)="logout()" href="#"><i class="icon_info fas fa-sign-out-alt"></i>Đăng xuất</a>
      </div>
    </button>
  </div>
</nav>