#sidebar {
  z-index: 1;
  height: 100vh;
  left: 0px;
  overflow-y: hidden;
  background: #ffffff;
  /* -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; */
  box-shadow:1px 0px 10px rgba(0, 0, 0, .05);
  padding-right: 0px;
}
#sidebar .sidebar-header a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 5px 0px;
}
#sidebar .sidebar-header {
  background-color: #e22a69;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}
#sidebar ul li a {
  padding: 15px 10px;
  font-size: 17px;
  display: block;
  color: black;
  border-bottom: 1px solid #939fa5;
  text-decoration: none;
  transition: 0.4s;
}
#sidebar ul li a:hover {
  color: #263238;
  background: #fff;
}
#sidebar ul ul a {
  font-size: 16px !important;
  padding-left: 30px !important;
  background: #263238;
}
a.dropdown-toggle.collapsed.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: 5px;
  content: "";
  border-bottom: 5px solid;
  border-right: 5px solid transparent;
  border-top: 0;
  margin-top: 10px;
}
#sidebar .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}
#sidebar .icon {
  padding-right: 15px;
}
.card-header{
  color: black;
  margin-top: 5px;
}
.card-header:hover{
  text-decoration: none;
  color: orange;
  font-weight:bold;
}
#menu_topbar{
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 900;
  top:0px;
  opacity: 0.9;
}
#menu_topbar_list{
  color: white;
  color: 12px;
  list-style: none;
  margin: 0px;
  padding: 0px 10px;
  font-size: 14px;
}
#menu_topbar_list li{
  line-height: 45px;
  cursor: pointer;
}
#menu_topbar_list li:hover{
  color: blueviolet;
}
#btn_show_menu{
  font-size: 29px;
  background-color: rgba(170, 170, 170, 0.514);
  color: white;
  border: 1px solid rgba(161, 161, 161, 0.377);
  padding: 3px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  position:absolute;
  top: 3px;
  right: 15px;
  z-index: 10;
  display: none;
}
#btn_show_menu:hover{
  cursor: pointer;
  background-color: rgba(161, 161, 161, 0.514);
}
@media (max-width: 768px) {
  #btn_show_menu{
    display: block;
  }
}
@media (min-width: 768px) {
  #btn_show_menu{
    display: none;
  }
  #menu_topbar{
    display: none;
  }
}
#content_admin2{
  background-color: rgb(241, 241, 241);
  padding-right: 15px;
  padding-top: 10px;
}
#content_admin{
  padding-right: 15px;
  height: calc( 100vh - 50px );
  overflow-y: scroll;
}

#content_admin{
  padding-left: 10px;
}