<div class="row">
<div class="col-lg-12">
    <h3 class="page-header">Thêm tài khoản</h3>
</div>
</div>
<i style="color: red;">(*) là trường bắt buộc! </i>
<div class="row">
<div class="col-sm-6">
    <form #addAccountForm="ngForm" method="post">
        <div class="form-group">
            <label>Tên hiển thị <i style="color: red;">(*)</i></label>
            <input type="text" name="user_name" class="form-control" placeholder="Tên hiển thị.." required minlength="4" [(ngModel)]="user.user_name" #usernamecheck='ngModel' autocomplete="off" (ngModelChange)="c.removeNameInputMessage()"/>
            <div class="message_error" *ngIf="usernamecheck.invalid&&(usernamecheck.touched||usernamecheck.dirty)">
                <span *ngIf="usernamecheck.errors['required']">Tên hiển thị là trường bắt buộc!</span>
                <span *ngIf="usernamecheck.errors['minlength']">Tên hiển thị phải có ít nhất 4 ký tự!</span>
            </div>
            <span class="message_error" *ngIf ="c.validate_error['name_unique']">Tên hiển thị đã bị trùng</span>
        </div>
        <div class="form-group">
            <label>Email <i style="color: red;">(*)</i></label>
            <input type="text" name="user_email" class="form-control" placeholder="Email.." required email [(ngModel)]="user.user_email" #useremailcheck='ngModel' autocomplete="off" (ngModelChange)="c.removeEmailInputMessage()"/>
            <div class="message_error" *ngIf="useremailcheck.invalid&&(useremailcheck.touched||useremailcheck.dirty)">
                <span *ngIf="useremailcheck.errors['required']">Email là trường bắt buộc!</span>
                <span *ngIf="useremailcheck.errors['email']">Vui lòng nhập đúng định dạng email!</span>
            </div>
            <span class="message_error" *ngIf ="c.validate_error['email_unique']">Email đã được sử dụng!</span>
        </div>
        <div class="form-group">
            <label>Mật khẩu <i style="color: red;">(*)</i></label>
            <input type="password" name="user_password" class="form-control" placeholder="Mật khẩu mới.." required minlength="8" [(ngModel)]="user.user_password" #userpasscheck='ngModel' autocomplete="off"/>
            <div class="message_error" *ngIf="userpasscheck.invalid&&(userpasscheck.touched||userpasscheck.dirty)">
                <span *ngIf="userpasscheck.errors['required']">Mật khẩu mới là trường bắt buộc!</span>
                <span *ngIf="userpasscheck.errors['minlength']">Mật khẩu mới phải có ít nhất 8 ký tự!</span>
            </div>
        </div>
        <div class="form-group">
            <label>Nhập lại mật khẩu <i style="color: red;">(*)</i></label>
            <input type="password" name="repassword" class="form-control" placeholder="Mật khẩu mới.." required minlength="8" [(ngModel)]="repassword" #userrepasscheck='ngModel' autocomplete="off"/>
            <div class="message_error" *ngIf="userrepasscheck.invalid&&(userrepasscheck.touched||userrepasscheck.dirty)">
                <span *ngIf="userrepasscheck.errors['required']">Nhập lại mật khẩu mới là trường bắt buộc!</span>
            </div>
            <span class="message_error" *ngIf="authService.checkRePassword(repassword, user.user_password)">Mật khẩu nhập lại không trùng khớp!</span>
        </div>
        <div class="form-group">
            <label>Điện thoại</label>
            <input type="text" name="user_phone" class="form-control" placeholder="Số điện thoại.." [(ngModel)]="user.user_phone" #userphonecheck='ngModel' minlength="8" maxlength="12"/>
            <div class="message_error" *ngIf="userphonecheck.invalid&&(userphonecheck.touched||userphonecheck.dirty)">
                <span *ngIf="userphonecheck.errors['maxlength']||userphonecheck.errors['minlength']">Số điện thoại phải có từ 8->12 số!</span>
            </div>
        </div>
        <div class="form-group">
            <label>Chức vụ <i style="color: red;">(*)</i></label>
            <select name="user_level" class="form-control" [(ngModel)]="user.user_level">
                <option value="1">Admin</option>
                <option value="2">Nhân viên bán hàng</option>
                <option value="3">Người dùng</option>
            </select>
        </div>
        <div class="form-group">
            <input [disabled]="!addAccountForm.valid||authService.checkRePassword(repassword, user.user_password)" type="submit" name="submit" value="Thêm" class="btn btn-primary" (click)="addAccount()"/>
        </div>
    </form>
    </div>
</div>
  